{% extends 'layouts/base.njk' %}
{% import 'components/factoid.njk' as components %}
{% set page_title = 'ПОХУДЕЙ · Главная' %}
{% set description = 'Тренажеры для здоровой жизни' %}

{% block content %}
  <section class="uni-sec pt-0">
    <div class="container">
      <div class="row g-2">
        <div class="col-12">
          <img src="assets/img/big-img.jpg"
            srcset="assets/img/big-img@2x.jpg 2x"
            loading="lazy"
            alt=""
            class="uni-img" />
        </div>
        <div class="col-12 col-sm-11 col-md-10 col-lg-9">
          <div class="vstack gap-2 align-items-start">
            <div class="h5 mb-n2">
              Складная беговая дорожка для&nbsp;домашних тренировок
            </div>
            <h1 class="display-1 mb-2">
              Walkingpad&nbsp;MX16
            </h1>

            <div class="fz-18px">
              Модель MX16 оснащена механизмом двойного сложения. В&nbsp;рабочем
              состоянии это&nbsp;полноценный тренажер, после тренировки&nbsp;—
              компактный чемодан, который помещается под&nbsp;кровать.
            </div>

            <button class="btn btn-primary">
              Купить&#8239;за&#8239;49&#8239;990&#8239;₽
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="uni-sec">
    <div class="container">
      <div class="row g-3">
        <div class="col-12 col-lg-8">
          <img src="assets/img/side-img-1.jpg"
            srcset="assets/img/side-img-1@2x.jpg 2x"
            loading="lazy"
            alt=""
            class="uni-img" />
        </div>
        <div class="col-12 col-lg-4">
          <div class="vstack h-100">
            <div class="h2 sec-title mt-lg-n2_25 mb-5 mb-lg-auto">
              Совмещайте тренировку и&nbsp;работу
            </div>

            <div class="d-flex justify-content-center justify-content-lg-end text-center text-lg-start">
              {{
                components.factoid({
                  value_before: 'До ',
                  value: '10',
                  value_after: ' км/ч',
                  title: 'Скорость',
                  descr: 'Идеально для ходьбы <br> и легкого бега'
                })
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="uni-sec">
    <div class="container">
      <div class="row g-3">
        <div class="col-12 col-lg-8 order-lg-2">
          <img src="assets/img/side-img-2.jpg"
            srcset="assets/img/side-img-2@2x.jpg 2x"
            loading="lazy"
            alt=""
            class="uni-img" />
        </div>
        <div class="col-12 col-lg-4">
          <div class="vstack h-100">
            <div class="h2 sec-title mt-lg-n2_25 mb-5 mb-lg-auto text-lg-end">
              0&thinsp;м² в&nbsp;нерабочее время
            </div>

            <div class="d-flex justify-content-center justify-content-lg-start text-center text-lg-start">
              {{
                components.factoid({
                  value_before: '',
                  value: '3',
                  value_after: ' сек',
                  title: 'Хранение',
                  descr: 'Убирается <br> за 3 секунды'
                })
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
