<footer id="footer" class="uni-sec footer">
  <div class="container">
    <div class="row g-3">
      <div class="col-12 col-md">
        <nav class="vstack flex-sm-row gap-2_5 foot-menu">
          <a href="#" class="link link-dark">Каталог</a>
          <a href="#" class="link link-dark">О&nbsp;нас</a>
          <a href="#" class="link link-dark">Доставка</a>
          <a href="#" class="link link-dark">Контакты</a>
          <a href="#" class="link link-dark">Политика конфиденциальности</a>
        </nav>
      </div>
      <div class="col-auto">
        <div class="copyright">
          ©&nbsp;«Похудей»
        </div>
      </div>
    </div>
  </div>
</footer>
