<header id="header" class="header">
  <div class="container">
    <div class="row gx-2 gx-sm-3 gy-1">
      <div class="col-auto">
        <div class="head-logo text-primary">
          ПОХУДЕЙ
        </div>
      </div>
      <div class="col d-none d-xs-block">
        <div class="losung">
          Тренажеры для&nbsp;здоровой жизни
        </div>
      </div>
      <div class="col-12 col-sm-auto">
        <nav class="hstack gap-2 gap-sm-2_5 head-menu">
          <a href="#" class="link link-dark">Каталог</a>
          <a href="#" class="link link-dark">О&nbsp;нас</a>
          <a href="#" class="link link-dark">Доставка</a>
          <a href="#" class="link link-dark">Контакты</a>
        </nav>
      </div>
    </div>
  </div>
</header>
