@use 'sass:color';

/* Это на случай если понадобиться менять стили для не .link- */
a:not([class^='link-']):not([class*=' link-']) {
  &:hover,
  &:focus-visible {
  }
}

a {
  text-underline-offset: 0.25em;
  transition: color 0.2s ease-out, background-color 0.2s ease-out,
    border-color 0.2s ease-out, text-underline-offset 0.2s ease-out;
}

[class^='link-'],
[class*=' link-'] {
  --bs-link-underline-opacity: 0.33;

  &:hover,
  &:focus-visible {
    --bs-link-underline-opacity: 1;
  }
}
