@use 'sass:math';
@import 'rfs/scss';

.copyright {
  font-size: 14px;
  font-weight: 500;
}

.uni-img {
  border: 0.5px solid #ced4da;
  max-width: 100%;
  width: 100%;
}

.spacer-end-page {
  @include rfs(56px, padding-top);

  hr {
    background-color: #ced4da;
    margin: 0;
  }
}

.factoid {
  // .factoid__value
  &__value {
    @include rfs(-3px, margin-left);
    @include rfs(16px, margin-bottom);
    font-family: 'Onest', sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 70%;
  }

  // .factoid__big-count
  &__big-count {
    @include rfs(72px, font-size);
    letter-spacing: -0.04em;
  }

  // .factoid__title
  &__title {
    margin-bottom: 4px;
  }

  // .factoid__descr
  &__descr {
    line-height: 1.3;
  }
}
